mat-card-content {
  color: rgba(255, 255, 255, 0.5);
}

mat-card:hover {
  .card-icon {
    color: rgba(255, 255, 255, 0.5);
  }
}

.card-icon {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.2);
  padding: 5px 0 0 10px;
  text-align: center;
}

.card-content {
  padding: 15px 0 0 30px;
}
