<app-page-container [breadcrumbs]="breadcrumbs" [loading]="loading$">
    <mat-tab-group *ngIf="!(loading$ | async)">
        <mat-tab label="Account">
            <div class="tabContent">
                <form [formGroup]="form" novalidate ngxsForm="profile.formState" [ngxsFormClearOnDestroy]="true" (submit)="save()">
                    <div fxLayout="column">
                        <mat-form-field>
                            <input matInput placeholder="Username" disabled [value]="(user$ | async).username">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="password" placeholder="New password" type="password">
                            <mat-error *ngIf="hasError('repeatPassword', 'passwordLength')">Password must be at least 8 characters long!</mat-error>
                            <mat-error *ngIf="hasError('repeatPassword', 'passwordMismatch')">Passwords must match!</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="repeatPassword" placeholder="Repeat password" type="password">
                            <mat-error *ngIf="hasError('repeatPassword', 'passwordMismatch')">Passwords must match!</mat-error>
                        </mat-form-field>
                        <div fxLayout="row">
                            <div fxFlex="1 1 auto">
                                <mat-form-field fxLayout="column">
                                    <input matInput formControlName="securityTokenKey" placeholder="Security Token">
                                    <mat-error *ngIf="hasError('securityTokenKey', 'required')">Security token is required!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="120px">
                                <button mat-raised-button color="primary" type="button" (click)="randomString(30)">
                                    <i class="icon ion-md-shuffle"></i><span fxHide.xs>&nbsp;&nbsp;Generate</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--[disabled]="!form.valid"-->
                    <div fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || (loading$ | async)">
                            <mat-progress-spinner color="primary" mode="indeterminate" strokeWidth="2" diameter="18" *ngIf="(loading$ | async)" style="float: left; margin-top: 8px;"></mat-progress-spinner>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Authorities">
            <div class="tabContent">
                <div *ngFor="let authority of authorities$ | async">{{ authority.name }}</div>
            </div>
        </mat-tab>
    </mat-tab-group>
</app-page-container>
