<mat-card>
    <mat-card-content>
        <h3>CPU</h3>

        <div class="blue-border">&nbsp;</div>

        <mat-progress-spinner mode="indeterminate" strokeWidth="2" *ngIf="loading$ | async"></mat-progress-spinner>

        <canvas baseChart width="350" height="200"
            [style.display]="(loading$ | async) ? 'none' : ''"
            style="margin-top: 1em;"
            [datasets]="cpuLineChartDataSet"
            [labels]="cpuLineChartLabels"
            [options]="cpuLineChartOptions"
            [colors]="cpuLineChartColors"
            [legend]="cpuLineChartLegend"
            [chartType]="cpuLineChartType">
        </canvas>
    </mat-card-content>
</mat-card>
