@import '../../variables';

.mat-card {
  background: $header-nav-background;

  table {
    width: 100%;
  }
}

.mat-card.page-container-shadow {
  -webkit-box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.35);
}

.mat-card-title {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mat-card-title:before {
  content: ' ';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  background: #2384be;
  height: 1px;
}
