.mat-dialog-container {
  background: saturate(darken($body-background-color, 4%), 7%);
  position: relative;

  .mat-dialog-title {
    padding: 0px 0px 10px 0px;
    margin: auto;
  }

  .mat-dialog-content {
    padding: 10px 24px 14px 24px;
  }
}

.deleteDialog .mat-dialog-container {
  //background: #af2e25;
  background: linear-gradient(180deg, hsla(0, 60%, 43%, 1) 0%, hsla(0, 60%, 25%, 1) 100%);
}
