@import "../../variables";

.formSubmitButtons {
  border-top: 1px solid $light-blue-1;
  padding-top: 20px !important;

  &.noBorder {
    border-top: none;
  }

  button {
    margin-right: 10px;
  }
}

.inputFullWidth {
  mat-form-field {
    width: 100%;
  }
}


form {
  h3.blue-border {
    margin: 10px 0px 10px 0px;
    font-weight: 300;

    &:after {
      content: "";
      height: 10px;
      border-bottom: 1px solid $light-blue-1;
      display: block;
    }
  }
}


.mat-input-element,
.mat-form-field-infix {
  line-height: 19px !important;
}
