<app-page-container [breadcrumbs]="breadcrumbs" [loading]="loading$" class="noPadding">

    <form (submit)="save()" *ngIf="routeForm" [formGroup]="routeForm" fxLayout="column">

        <div class="routeDetails" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%">

            <mat-form-field *ngIf="operation !== getRouteOperations().CREATE">
                <input formControlName="uuid" matInput placeholder="UUID">
                <mat-error *ngIf="routeForm.get('uuid').invalid">
                    <form-field-errors formControlName="uuid"></form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="pattern" matInput placeholder="URL Pattern">
                <mat-error *ngIf="routeForm.get('pattern').invalid">
                    <form-field-errors formControlName="pattern"></form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select formControlName="type" placeholder="Type">
                    <mat-option value="accept">ACCEPT</mat-option>
                    <mat-option value="deny">DENY</mat-option>
                </mat-select>
            </mat-form-field>

            <div>&nbsp;</div>
        </div>

        <div class="formSubmitButtons" fxLayoutAlign="center center">
            <button mat-button routerLink="/admin/routes" type="button">
                Back
            </button>

            <button [disabled]="routeForm.invalid"
                    [disabled]="routeForm.invalid"
                    color="primary"
                    mat-raised-button type="submit">
                Save
            </button>
        </div>
        <div>&nbsp;</div>

    </form>

</app-page-container>
