<app-page-container [breadcrumbs]="breadcrumbs" [loading]="loading$" class="noPadding">

    <form class="inputFullWidth" fxLayout="column" *ngIf="routeForm" [formGroup]="routeForm" (submit)="save()">

        <div class="tabContent">

            <mat-form-field *ngIf="operation !== getRouteOperations().CREATE">
                <input matInput placeholder="UUID" formControlName="uuid">
                <mat-error *ngIf="routeForm.get('uuid').invalid">
                    <form-field-errors formControlName="uuid"></form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="URL Pattern" formControlName="pattern">
                <mat-error *ngIf="routeForm.get('pattern').invalid">
                    <form-field-errors formControlName="pattern"></form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Type" formControlName="type" >
                    <mat-option value="accept">ACCEPT</mat-option>
                    <mat-option value="deny">DENY</mat-option>
                </mat-select>
            </mat-form-field>

            <div>&nbsp;</div>
        </div>

        <div fxLayoutAlign="center center" class="formSubmitButtons">
            <button mat-button routerLink="/admin/routes" type="button">
                Back
            </button>

            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="routeForm.invalid">
                Save
            </button>
        </div>
        <div>&nbsp;</div>

    </form>

</app-page-container>
