<app-page-container [breadcrumbs]="breadcrumbs" [loading]="loading$" class="noPadding">

    <div page-actions>
        <button color="primary" mat-raised-button routerLink="create">
            <i class="icon ion-md-add"></i> &nbsp; Add
        </button>
    </div>

    <table [dataSource]="routes$" mat-table multiTemplateDataRows>

        <ng-container matColumnDef="pattern">
            <th *matHeaderCellDef mat-header-cell>URL Pattern</th>
            <td *matCellDef="let row" mat-cell>{{row.pattern}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th *matHeaderCellDef mat-header-cell>Type</th>
            <td *matCellDef="let row" mat-cell>{{row.type}}</td>
        </ng-container>

        <ng-container matColumnDef="storageId">
            <th *matHeaderCellDef mat-header-cell>Storage ID</th>
            <td *matCellDef="let row" mat-cell>{{row.storageId ? row.storageId : "any"}}</td>
        </ng-container>

        <ng-container matColumnDef="repositoryId">
            <th *matHeaderCellDef mat-header-cell>Repository ID</th>
            <td *matCellDef="let row" mat-cell>{{row.repositoryId ? row.repositoryId : "any"}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="actions" mat-header-cell>Actions</th>
            <td *matCellDef="let route" class="actions text-center" mat-cell>
                <ul>
                    <li>
                        <a [routerLink]="[route.uuid, 'edit']" title="Edit route">
                            <i class="icon ion-md-create"></i>
                        </a>
                    </li>
                    <li>
                        <a (click)="confirmDeletion(route)" title="Delete route">
                            <i class="icon ion-md-trash"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <div *ngIf="(routes$ | async).length === 0" class="no-records">
        No records found
    </div>

</app-page-container>
