.overlay {
  height: calc(73vh - 10rem);
  width: 100%;
  background: rgba(29, 41, 53, 0.65);
  z-index: 99;
  position: absolute;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 7.7rem;
}

.actions {
  .mat-cell,
  .mat-header-cell {
    flex: 0 0 30%;
  }
  .mat-header-cell {
    padding-right: 0px;
  }
}