.page-not-found {
  padding-top: 10rem;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  text-align: center;
}

.page-not-found h2 {
  font-size: 4.3rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
}

.page-not-found h4 {
  font-weight: 200;
  font-size: 1.3rem;
}