<div fxFlexFill="1 1 auto" class="access-model-container">
    <table mat-table
           matSort
           [dataSource]="dataSource"
           *ngIf="dataSource.data.length > 0 && !showEditForm"
    >

        <!-- Select all Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="width: 70px;">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [disabled]="dataSource.data.length === 0"
                              color="primary">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let pathPrivilege">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(pathPrivilege) : null"
                              [checked]="selection.isSelected(pathPrivilege)"
                              color="primary">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Storage Column -->
        <ng-container matColumnDef="storageId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="storageId">Storage</th>
            <td mat-cell *matCellDef="let pathPrivilege">
                {{pathPrivilege.storageId}}
            </td>
        </ng-container>

        <!-- Repository Column -->
        <ng-container matColumnDef="repositoryId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="repositoryId">Repository</th>
            <td mat-cell *matCellDef="let pathPrivilege">
                {{pathPrivilege.repositoryId}}
            </td>
        </ng-container>

        <!-- Path Column -->
        <ng-container matColumnDef="path">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="path">Path</th>
            <td mat-cell *matCellDef="let pathPrivilege">
                {{pathPrivilege.path}}
                <span *ngIf="!pathPrivilege.path">/</span>
            </td>
        </ng-container>

        <!-- Wildcard Column -->
        <ng-container matColumnDef="wildcard">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="wildcard">Wildcard</th>
            <td mat-cell *matCellDef="let pathPrivilege">
                <span *ngIf="pathPrivilege.wildcard" class="status-green">Yes</span>
                <span *ngIf="!pathPrivilege.wildcard" class="status-red">No</span>
            </td>
        </ng-container>

        <!-- Privileges Column -->
        <ng-container matColumnDef="privileges">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Privileges</th>
            <td mat-cell *matCellDef="let pathPrivilege"> {{ pathPrivilege.privileges.length }}</td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions">
                <button *ngIf="!isParentFormDisabled()"
                        mat-icon-button
                        type="button"
                        (click)="showForm()">
                    <i class="ion-md-add"></i>
                </button>
                <button *ngIf="!isParentFormDisabled()"
                        mat-icon-button
                        title="Delete selected items"
                        type="button"
                        [disabled]="!isSomeSelected()"
                        (click)="deleteSelected()">
                    <i class="ion-md-trash"></i>
                </button>
            </th>
            <td mat-cell *matCellDef="let pathPrivilege; let index = index" class="actions">
                <button mat-icon-button type="button" title="Edit" (click)="showForm(pathPrivilege, index)">
                    <i class="ion-md-eye" *ngIf="isParentFormDisabled()"></i>
                    <i class="ion-md-create" *ngIf="!isParentFormDisabled()"></i>
                </button>

                <button mat-icon-button (click)="delete(index)" type="button" *ngIf="!isParentFormDisabled()">
                    <i class="ion-md-trash"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="blue-bottom-border"></tr>
        <tr mat-row *matRowDef="let pathPrivilege; columns: displayedColumns;"></tr>

    </table>

    <div class="no-records" *ngIf="dataSource.data.length == 0 && !showEditForm">
        <div @fadeInOutOverlap>
            No records have been added yet.<br/>
            <button mat-raised-button color="primary" (click)="showForm()" type="button">Add privilege</button>
        </div>
    </div>

    <ng-container *ngIf="showEditForm">
        <div class="managePathPrivilege" @fadeInOutOverlap>
            <div [formGroup]="privilegeForm">

                <mat-tab-group [dynamicHeight]="true">
                    <mat-tab label="Route details">
                        <div class="clearfix">&nbsp;</div>
                        <div fxLayout="row" fxLayoutGap="2%">
                            <div fxFlex="1 0 auto">
                                <select-autocomplete
                                        placeholder="Storage"
                                        [searchControl]="privilegeForm.get('storageId')"
                                        [dataSource]="storageSearchDataSource"
                                        [forceSelection]="true"
                                        [required]="true"
                                        width="100%"
                                >
                                </select-autocomplete>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%">
                            <div fxFlex="1 0 auto">
                                <select-autocomplete
                                        placeholder="Repository"
                                        [searchControl]="privilegeForm.get('repositoryId')"
                                        [dataSource]="repositorySearchDataSource"
                                        [forceSelection]="true"
                                        [required]="true"
                                        [dependsOn]="privilegeForm.get('storageId')"
                                        width="100%"
                                >
                                </select-autocomplete>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%">
                            <div fxFlex="1 0 auto">
                                <mat-form-field floatLabel="always">
                                    <input matInput placeholder="Path" formControlName="path" type="search"/>

                                    <mat-error>
                                        <form-field-errors formControlName="path"></form-field-errors>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%">
                            <div fxFlex="1 0 auto">
                                <mat-checkbox formControlName="wildcard" labelPosition="after" class="wildcard-checkbox" color="primary">
                                    <ng-container *ngIf="privilegeForm.get('wildcard').value === true">
                                        <span style="text-decoration: underline;">Include</span> all subpaths
                                    </ng-container>
                                    <ng-container *ngIf="privilegeForm.get('wildcard').value !== true">
                                        <span style="text-decoration: underline;">Exclude</span> all subpaths
                                    </ng-container>
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                    </mat-tab>
                    <mat-tab label="Privileges">
                        <mat-selection-list formControlName="privileges" [compareWith]="compareSelected">
                            <mat-list-option *ngFor="let privilege of assignablePrivileges; let index = index"
                                             checkboxPosition="before"
                                             [value]="privilege.name"
                            >
                                {{ privilege.name }}
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-tab>
                </mat-tab-group>

                <div fxLayoutAlign="center center" class="formSubmitButtons">
                    <button mat-raised-button color="primary" type="button" (click)="save()" *ngIf="!isParentFormDisabled()"
                            [disabled]="privilegeForm.invalid">
                        Save
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="delete()" *ngIf="!isParentFormDisabled()">
                        Delete
                    </button>
                    <button mat-button type="button" (click)="resetState()">
                        Close
                    </button>
                </div>
            </div>
        </div>

    </ng-container>

</div>
