@import "../../../../../sass/variables";

ul.breadcrumbs {
  white-space: nowrap;
  display: inline;
  font: 300 22px/30px $font-family;

  li {
    display: inline;
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 1.15rem;
  }

  li:first-of-type {
    margin-left: 0px;
  }

  li + li:before {
    content: '  >  ';
  }

}
