<ng-progress #progressBar></ng-progress>

<div class="guest-navigation" *ngIf="!(isAuthenticated$ | async)" [@slideInOut]>
    <a title="Browse" routerLink="/browse" routerLinkActive="active">
        <i class="icon ion-md-filing"></i> <span>Browse</span>
    </a>

    <a title="Login" (click)="openLoginDialog()">
        <i class="icon ion-md-lock"></i> <span>Login</span>
    </a>
</div>

<div class="header-navigation" *ngIf="!(isHomepage$ | async)" [@slideInOut] fxLayout="row" fxFlexAlign.lt-sm="center center">
    <div class="container">
        <div>
            <div class="logo-text">
                <a routerLink="/" id="logo">Strongbox</a>
            </div>

        </div>
        <div class="search" fxFlex="1 1 auto">
            <aql-autocomplete #aqlSearch
                              width="100%"
                              placeholder="Search query"
                              [value]="(aqlQuery$ | async)"
                              [dataSource]="aqlDataSource"
                              (submit)="submitSearchRequest($event)"></aql-autocomplete>
        </div>
        <div *ngIf="!(isAuthenticated$ | async) && !(isHomepage)">
            <ul>
                <li>
                    <a title="Browse" routerLink="/browse" routerLinkActive="active">
                        <i class="icon ion-md-filing"></i>
                    </a>
                </li>
                <li>
                    <a title="Login" (click)="openLoginDialog()">
                        <i class="icon ion-md-lock"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--
        <div class="open-mobile-nav" *ngIf="(isMobile$ | async)">
            <a (click)="showMobileNavigation = !showMobileNavigation">
                <i class="icon ion-md-menu"></i>
            </a>
        </div>
    -->

</div>

<!--
<div class="mobile-navigation" *ngIf="showMobileNavigation" [@slideInOutMobile] fxLayout="row" fxFlexAlign="center center">
    <div class="nav">
        <ul>
            <li *ngIf="(isMobile$ | async)">
                <a title="Search" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="icon ion-md-search"></i> Search
                </a>
            </li>

            <li *ngIf="(isMobile$ | async)">
                <a title="Browse" routerLink="/browse" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="icon ion-md-filing"></i> Browse
                </a>
            </li>

            <ng-container *ngIf="(isAuthenticated$ | async)">
                <li>
                    <a title="Notifications"
                       routerLink="/admin/notifications"
                       routerLinkActive="active">
                        <i class="icon ion-md-notifications"
                           matBadge="22"
                           matBadgePosition="above after"
                           matBadgeColor="danger"></i>
                        Notifications
                    </a>
                </li>

                <li *ngFor="let item of navigation">
                    <a [title]="item.title" [routerLink]="item.url" routerLinkActive="active">
                        <i [class]="'icon ' + item.icon"></i> {{ item.title }}
                    </a>
                </li>

                <li>
                    <a title="Logout" (click)="auth.logout()">
                        <i class="icon ion-md-log-out"></i> Logout
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
-->

<div class="side-navigation" [class.alignIconsTop]="!(isHomepage$ | async)" *ngIf="(isAuthenticated$ | async)" [@slideSideInOut]>
    <div class="corner" *ngIf="!(isHomepage$ | async)" [@slideInOut]>&nbsp;</div>
    <div class="icons">
        <ul>
            <li>
                <a title="Notifications" routerLink="/admin/notifications" routerLinkActive="active">
                    <i class="icon ion-md-notifications"
                       matBadge="22"
                       matBadgePosition="above after"
                       matBadgeColor="primary"
                       style="margin-left: 2px;"
                    ></i>
                </a>
            </li>

            <li>
                <a title="Browse" routerLink="/browse" routerLinkActive="active">
                    <i class="icon ion-md-filing"></i>
                </a>
            </li>

            <li *ngFor="let item of navigation">
                <a routerLinkActive="active"
                   [title]="item.title"
                   [routerLink]="item.url"
                   [style.margin-left]="item.marginLeft">
                    <i [class]="'icon ' + item.icon"></i>
                </a>
            </li>

            <li>
                <a title="Logout" (click)="auth.logout()">
                    <i class="icon ion-md-log-out"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
