<ng-progress #progressBar></ng-progress>

<mat-toolbar id="navigation" fxLayout="row" fxLayoutGap="2%" fxLayoutGap.xs="0" [class.transparent]="false">
    <div class="logo-container" fxLayout="row" fxLayoutGap="10%">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="logo-text">
                <a routerLink="/">Strongbox</a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="(isAuthenticated$ | async) && !(isMobile$ | async)">
            <div class="menu-button-wrapper" fxLayoutAlign="center">
                <div fxLayoutAlign="center center">
                    <div class="menu-container">
                        <a id="toggleSideNav" (click)="toggleSideNav()" [class.close]="(sideNavOpened$ | async)">
                            <div class="line top"></div>
                            <div class="line middle"></div>
                            <div class="line bottom"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- This fills the remaining space of the current row -->
    <div fxFlex="1 1 auto" class="search-container">
        <div class="search" fxHide.lt-sm fxLayout="column">
            <input type="text"
                   placeholder="Search query"
                   [ngModel]="searchQuery | async"
                   (ngModelChange)="this.searchQuery.next($event)"
                   (keyup.enter)="submitSearchRequest()"/>
            <i class="icon ion-md-search"></i>
        </div>
    </div>

    <!-- Right menu -->
    <div fxLayoutAlign="center center" class="right-container">
        <ul fxLayoutAlign="center center">
            <li fxHide.lt-xs>
                <a title="Browse repositories" [routerLink]="['/browse']">
                    <i class="icon ion-md-apps"></i>
                </a>
            </li>
            <li *ngIf="!(isAuthenticated$ | async)" fxHide.lt-xs>
                <a title="Login" (click)="openLoginDialog()">
                    <i class="icon ion-md-lock"></i>
                </a>
            </li>
            <li *ngIf="(isAuthenticated$ | async)">
                <a title="Notifications">
                    <span matBadge="14" matBadgeOverlap="false" matBadgeSize="small" matBadgePosition="after above"
                          matBadgeColor="warn" class="alert">
                        <i class="icon ion-md-notifications"></i>
                    </span>
                </a>
            </li>
            <li *ngIf="(isAuthenticated$ | async)" fxHide.lt-xs>
                <a title="Profile"
                   routerLink="profile"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    <i class="icon ion-md-person"></i> <span fxHide.lt-lg>&nbsp;&nbsp;{{ (session$ | async).user.username }}</span>
                </a>
            </li>
            <li *ngIf="(isAuthenticated$ | async)">
                <a title="Logout" (click)="auth.logout()">
                    <i class="icon ion-md-log-out"></i>
                </a>
            </li>
            <li *ngIf="(isAuthenticated$ | async) && (isMobile$ | async)">
                <div class="menu-button-wrapper" fxLayoutAlign="center">
                    <div fxLayoutAlign="center center">
                        <div class="menu-container">
                            <a id="toggleMobileSideNav" (click)="toggleSideNav()"
                               [class.close]="(sideNavOpened$ | async)">
                                <div class="line top"></div>
                                <div class="line middle"></div>
                                <div class="line bottom"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</mat-toolbar>

<div fxLayout="column">
    <mat-sidenav-container class="main-content" (backdropClick)="closeSideNavBackdropClick()">
        <mat-drawer-container [hasBackdrop]="false" [autosize]="true"></mat-drawer-container>

        <mat-sidenav #sideNavElement
                     class="menu-sidenav"
                     [hidden]="(session$ | async).state == 'authenticated'"
                     [opened]="(sideNavOpened$ | async)"
                     [fixedInViewport]="true"
                     [position]="(sideNav$ | async).position"
                     [mode]="(sideNav$ | async).mode">
            <ul fxLayout="column" fxLayoutAlign="start" *ngIf="(session$ | async).state == 'authenticated'">
                <li>
                    <a>Dashboard</a>
                </li>
                <li>
                    <a>Browse</a>
                </li>
                <li>
                    <a routerLink="profile"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        Profile
                    </a>
                </li>
                <li *ngIf="(session$ | async).user.hasAuthority('ADMIN')">
                    <a href="#">Administration</a>
                    <ul fxLayout="column" fxLayoutAlign="start">
                        <li><a>Logs</a></li>
                        <li><a>Proxy configuration</a></li>
                        <li>
                            <a>Repositories</a>
                            <!--<li><a>Remote repositories configuration</a></li>-->
                        </li>
                        <li><a>Routing</a></li>
                        <li><a>Security</a></li>
                        <li><a>Server</a></li>
                        <li><a>Storages</a></li>
                        <li>
                            <a routerLink="admin/users"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{exact: true}">
                                Users
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </mat-sidenav>

        <mat-sidenav-content [class]="(sideNavOpened$ | async) ? 'sideNavOpen' : ''">
            <div class="sidenav-content" fxLayout="row" fxLayout.lt-sm="column">
                <div [fxFlex]="sideNavFlex().left">&nbsp;</div>
                <div fxFlex="1 1 auto">
                    <router-outlet></router-outlet>
                </div>
                <div [fxFlex]="sideNavFlex().right" style="transition: all 0.3s">&nbsp;</div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
