<div class="global-container">

    <h3>My profile</h3>

    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>User details</mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="form" novalidate ngxsForm="profile.formState" [ngxsFormClearOnDestroy]="true" (submit)="save()">

                <div class="form">
                    <mat-form-field>
                        <input matInput placeholder="Username" disabled [value]="(user$ | async).username">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="password" placeholder="New password" type="password">
                        <mat-error *ngIf="hasError('repeatPassword', 'passwordLength')">Password must be at least 8 characters long!</mat-error>
                        <mat-error *ngIf="hasError('repeatPassword', 'passwordMismatch')">Passwords must match!</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="repeatPassword" placeholder="Repeat password" type="password">
                        <mat-error *ngIf="hasError('repeatPassword', 'passwordMismatch')">Passwords must match!</mat-error>
                    </mat-form-field>
                    <div>
                        <mat-form-field style="float: left; width: 90%;">
                            <input matInput formControlName="securityTokenKey" placeholder="Security Token">
                            <mat-error *ngIf="hasError('securityTokenKey', 'required')">Security token is required!</mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="button" (click)="randomString(30)" style="float: right; width: 9%;">Generate token</button>
                    </div>
                </div>

                <!--[disabled]="!form.valid"-->
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || loading">
                    <mat-progress-spinner color="primary" mode="indeterminate" strokeWidth="2" diameter="18" *ngIf="loading" style="float: left; margin-top: 8px;"></mat-progress-spinner>
                    Save
                </button>

                <div *ngIf="result">
                    {{ result }}
                </div>

            </form>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Authorities</mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let authority of authorities$ | async">{{authority.name}}</div>
        </mat-expansion-panel>
    </mat-accordion>
</div>