<app-page-container [breadcrumbs]="breadcrumbs" [loading]="loading$">

    <form fxLayout="column" *ngIf="userForm" [formGroup]="userForm" (submit)="save()">

        <div class="userDetails" fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="10%">
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="userForm.get('username').invalid">
                    <form-field-errors formControlName="username"></form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error *ngIf="userForm.get('password').invalid">
                    <form-field-errors formControlName="password"></form-field-errors>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="State" formControlName="enabled" [disableOptionCentering]="true">
                    <mat-option [value]="true">Enabled</mat-option>
                    <mat-option [value]="false">Disabled</mat-option>
                </mat-select>
            </mat-form-field>

            <div>&nbsp;</div>
        </div>
        <div>&nbsp;</div>

        <div style="position:relative;">
            <mat-tab-group style="margin-top: 10px;" [dynamicHeight]="true" [selectedIndex]="0">
                <mat-tab label="Roles">
                    <div class="tabContent">
                        <mat-selection-list formControlName="roles" [compareWith]="compareSelectedRoles">
                            <mat-list-option *ngFor="let role of assignableRoles$ | async"
                                             checkboxPosition="before"
                                             [value]="role.name"
                            >
                                {{ role.name }}
                                <small>{{ role.description }}</small>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div *ngIf="(hasUpdateUserAuthority$ | async) || (hasCreateUserAuthority$ | async)"
             fxLayoutAlign="center center"
             class="formSubmitButtons">
            <button mat-button routerLink="/admin/users" type="button">
                Back
            </button>

            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="userForm.invalid">
                Save
            </button>
        </div>
        <div>&nbsp;</div>

    </form>
</app-page-container>
