@import "../variables";

ul.breadcrumbs {
  white-space: nowrap;
  display: inline;

  li {
    display: inline;
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 1.15rem;
  }

  li:first-of-type {
    margin-left: 0px;
  }

  li + li:before {
    content: '  >  ';
  }

}

ul.breadcrumbs.page {
  // font: 400 19px/26px 'Open Sans', Helvetica, sans-serif !important;
  font: 300 24px/30px $font-family !important;
}
