$nav-background: #13232f;
$nav-link-color: rgba(255, 255, 255, 0.45);
$nav-link-hover: rgba(255, 255, 255, 0.90);

*:not(button):not(mat-option) {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  background: #1f3240;
  color: white;
}

app-strongbox {
  width: 100vw;
}

.clearfix {
  clear: both;
}

a {
  cursor: pointer;
  color: $nav-link-color;
  text-decoration: none;
  transition: color .3s;
  display: inline-block;
}

a:not(.mat-tab-link).active, a:not(.mat-tab-link):hover {
  color: $nav-link-hover;
}

a:not(.mat-tab-link).active::after, a:not(.mat-tab-link)::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #2684bd;
  transition: width .2s;
}

a:not(.mat-tab-link).active::after, a:not(.mat-tab-link):hover::after {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.status-green {
  color: #3ccd42;
}

.status-red {
  color: #f44336;
}

.global-container {
  margin: auto;
  padding: 10px 20px 100px 20px;

  // temporary fix.
  max-width: 70vw;

  > h3 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0px 0px 30px 0px;
  }

  > .page {
    padding: 25px 24px 8px 24px;
    background: #132530;
  }

  .no-records {
    padding: 30px 24px 24px 24px;
    text-align: center;

    button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

div.blue-border {
  height: 1px;
  background: #2c82bc;
  margin: 10px 0px 10px 0px;
}

.tabContent {
  min-height: 100px;
  padding: 15px 12px 10px 12px
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.50);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  width: 6px;
}
