$nav-background: #13232f;
$nav-link-color: rgba(255, 255, 255, 0.45);
$nav-link-hover: rgba(255, 255, 255, 0.90);

* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  background: #1f3240;
  color: white;
}

app-strongbox {
  width: 100vw;
}

.clearfix {
  clear: both;
}

a {
  cursor: pointer;
  color: $nav-link-color;
  text-decoration: none;
  transition: color .3s;
  display: inline-block;
}

a:hover {
  color: $nav-link-hover;
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #2684bd;
  transition: width .2s;
}

a:hover::after {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*.sideNavOpen {
  .global-container {
    max-width: 100rem;
  }
}*/

.global-container {
  /*max-width: 88rem;*/
  margin: auto;
  padding-top: 15px;
  padding-bottom: 140px;
  transition: max-width 0.3s;

  /*
  @media screen and(max-width: 1024px) {
    max-width: 90%;
  }
  */

  h3 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0px 0px 15px 0px;
  }

  > .page {
    padding: 25px 24px 8px 24px;
    background: #132530;
  }
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.50);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  width: 8px;
}
