$nav-background: #13232f;
$nav-link-color: rgba(255, 255, 255, 0.45);
$nav-link-hover: rgba(255, 255, 255, 0.90);

* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  background: #1f3240;
  color: white;
}

app-strongbox {
  width: 100vw;
}

.clearfix {
  clear: both;
}

a {
  cursor: pointer;
  color: $nav-link-color;
  text-decoration: none;
  transition: color .3s;
  display: inline-block;
}

a:hover {
  color: $nav-link-hover;
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #2684bd;
  transition: width .2s;
}

a:hover::after {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}