@mixin logo-text($font-size: 3.1rem, $margin: null) {
  .logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size;
    font-weight: 100;
    @if $margin != null {
      margin: $margin
    }

    a {
      color: rgba(255,255,255,0.85);
      text-decoration: none;
      transition: all 0.3ms ease-in-out;
      position: relative;
    }

    a:hover {
      color: white;
    }

    a::after {
      content: '';
      width: 0;
      height: 1px;
      background: #2684b4;
      transition: width .2s;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    a:hover::after {
      width: 100%;
    }
  }

  .logo-text:before,
  .logo-text:after {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 100;
    font-size: $font-size + 0.4;
    color: #2684bd;
  }

  .logo-text:before {
    content: "{ ";
  }

  .logo-text:after {
    content: " }";
  }
}

@mixin input-placeholder($color, $hover) {
  // these need to be separate declarations!
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    transition: all 0.28s ease;
  }
  input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $hover;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    transition: all 0.28s ease;
  }
  input:focus::-moz-placeholder { /* Firefox 19+ */
    color: $hover;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: $color;
    transition: all 0.28s ease;
  }
  input:focus:-ms-input-placeholder { /* IE 10+ */
    color: $hover;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: $color;
    transition: all 0.28s ease;
  }
  input:focus:-moz-placeholder { /* Firefox 18- */
    color: $hover;
  }
}