#navigation {
  position: fixed;
  z-index: 999;
  background: $nav-background;
  transition: background-color 0.3s ease;
  -webkit-box-shadow: 0px -4px 11px 3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px -4px 11px 3px rgba(0, 0, 0, 0.65);
  box-shadow: 0px -4px 11px 3px rgba(0, 0, 0, 0.65);
  height: 70px;

  &.transparent {
    background: transparent !important;
  }

  .logo-container {
    @include logo-text(2.1rem, -2px 0px 0px 0px);
  }

  .menu-button-wrapper {
    position: relative;
    height: 50px;
    cursor: pointer;

    a {
      /*display: inline;*/
      display: block;
      padding: 2px 7px 10px 7px;
      margin-top: 14px;
    }

    .menu-container {
      width: auto;
      margin: 0 auto;
      -webkit-transition: all .35s ease;
      -moz-transition: all .35s ease;
      -ms-transition: all .35s ease;
      -o-transition: all .35s ease;
      transition: all .35s ease;
    }

    .line {
      height: 1px;
      width: 18px;
      background: $nav-link-color;
      margin: 6px auto;
      display: block;

      -webkit-transition: all .35s ease;
      -moz-transition: all .35s ease;
      -ms-transition: all .35s ease;
      -o-transition: all .35s ease;
      transition: all .35s ease;
    }

    .close .line {
      background-color: #f92c8c;
    }

    .middle {
      margin: 0 auto;
    }

    .close .top {
      transform: translateY(7px) rotateZ(45deg);
    }

    .close .bottom {
      transform: translateY(-7px) rotateZ(-45deg);
    }

    .close .middle {
      width: 0;
    }
  }

  .search-container {
    .search {
      margin-top: 20px;

      input {
        padding: 8px 32px 8px 8px;
        background: #1a2f3e;
        color: #EAEAEA;
        border: 1px solid #233d4c;
        border-radius: 8px;
        transition: all 0.28s ease;
      }

      input:focus {
        color: black;
        background: #dee0e2;
        border: 1px solid #1d435a;
        border-radius: 8px;
        outline: none;
      }

      @include input-placeholder(rgba(255, 255, 255, 0.85), #1a2f3e);

      .icon {
        position: absolute;
        top: 5px;
        right: 12px;
        padding-left: 10px;
        margin-top: -4px;
        transition: all 0.28s ease;
      }

      input:focus + .icon {
        color: #1d435a;
      }
    }

    .test {
      input {
        font: 400 19px/26px 'Open Sans', Helvetica, sans-serif;
        color: #EAEAEA;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0px;
      }

      .mat-form-field-flex {
        padding: 0;
        margin-top: 20px;
        background-color: #1a2f3e;
        border-radius: 10px;
        border: 1px solid #233d4c;
        transition: all 0.2s ease;
      }

      @include input-placeholder(rgba(255, 255, 255, 0.85), #1a2f3e);

      .mat-form-field-infix {
        border-top: none;
        padding: .31em 0 0.31em 0.5em;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-prefix {
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
        margin-left: 10px;
        margin-right: -4px;
      }

      .mat-focused {
        .mat-form-field-flex {
          background-color: rgba(255, 255, 255, .9);
        }

        @include input-placeholder(rgba(255, 255, 255, 0.85), #1a2f3e);

        input {
          color: #323232;
        }

        .mat-form-field-prefix {
          color: #323232;
        }
      }
    }
  }

  .right-container {
    .alert {
      .mat-badge-content {
        right: -14px;
        top: -6px;
        width: 18px;
        height: 18px;
        line-height: 16px;
        font-size: 9px;
      }

      &.mat-badge {
        margin-right: 8px;
      }
    }

    ul {
      display: inline-flex;

      li {
        list-style: none;
        float: left;
        margin-top: 6px;
        //margin-right: 20px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        font: 400 22px 'Open Sans', sans-serif;
      }

      li > i {
        margin-right: 0.05rem;
      }

      a {
        @media screen and(max-width: 450px) {
          font-size: 17px;
          padding: 7px 7px 10px 7px;
        }

        padding: 7px 0.7rem 10px 0.7rem;
      }

    }

  }

  #toggleMobileSideNav {
    margin-top: -1px;
  }
}

.main-content {
  width: 100vw;
  height: 100vh;
  padding-top: 85px;

  &.mat-drawer-container {
    background-color: transparent;
  }

  > mat-sidenav-content {
    padding: 25px 15px 0px 7px;
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 58px;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(13, 23, 31, 0.68);
  }

  /*  .sidenav-content {
      > div {
        transition: all 0.3s linear;
      }
    }*/

}

.menu-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  background: $nav-background;
  margin-top: 3.98em;
  border-top: 1px solid #1a303e;
  padding: 6px 0px 0px 0px;

  @media screen and (max-width: 600px) {
    margin-top: 3.4em;
  }

  .mat-drawer-container {
    width: 100vw;
    height: 100vh;
  }

  ul {
    display: inline-flex;
    color: $nav-link-color;

    li {
      list-style: none;
      margin-top: 4px;
      text-align: left;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      padding: 10px 5px 10px 20px;
      transition: all 0.25s ease-in-out;
    }

    li > i {
      margin-right: 0.05rem;
    }
  }
}
