@import "../helpers";
@import "../variables";

#fullscreen-splash {
  height: 100vh;
  width: 100vw;
  background: $body-background-color;
  background: linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-1 100%); /* common. */
  background: -o-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-1 100%); /* opera 11.10+ */
  // firefox, safari and epiphany do not work properly with this gradient.
  // TODO: Fix background gradient.
  background: -webkit-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* safari4+,chrome */
  background: -webkit-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* safari5.1+,chrome10+ */
  background: -ms-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* ie10+ */
  background: -moz-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* ff3.6+ */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

  .container {
    color: white;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    z-index: 999;
  }

  &.loaded {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.18s, opacity 0.18s linear;
  }

  @include logo-text(2.8rem, 0.65rem 1rem 0px 1rem);

  .spinner-container {
    position: relative;
    overflow: hidden;
    height: 100px;
  }

  .spinner div {
    width: 5px;
    height: 5px;
    position: absolute;
    left: -50px;
    top: 30px;
    background-color: #fff;
    border-radius: 40%;
    //animation: spinner-move 3s infinite cubic-bezier(.32, 1, .88, .27);
    animation: spinner-move 3s infinite cubic-bezier(0.5, 0.04, 0.08, 0.8);
  }

  .spinner div:nth-child(2) {
    animation-delay: 150ms;
  }

  .spinner div:nth-child(3) {
    animation-delay: 300ms;
  }

  .spinner div:nth-child(4) {
    animation-delay: 450ms;
  }

  .spinner div:nth-child(5) {
    animation-delay: 600ms;
  }

  @keyframes spinner-move {
    0% {
      left: -50%;
    }
    80% {
      left: 50%;
    }
    100% {
      left: 150%;
    }
  }
}