@import "../helpers";
@import "../variables";

#fullscreen-splash {
  height: 100vh;
  width: 100vw;
  color: white;
  background: $body-background-color;
  background: linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-1 100%); /* common. */
  background: -o-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-1 100%); /* opera 11.10+ */
  // firefox, safari and epiphany do not work properly with this gradient.
  // TODO: Fix background gradient.
  background: -webkit-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* safari4+,chrome */
  background: -webkit-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* safari5.1+,chrome10+ */
  background: -ms-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* ie10+ */
  background: -moz-linear-gradient($body-gradient-degrees, $body-gradient-0 0%, $body-gradient-0 100%); /* ff3.6+ */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

  .container {
    overflow: hidden;
    opacity: 1;
    z-index: 999;
  }

  &.loaded {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.18s, opacity 0.18s linear;
  }

  @include logo-text(2.8rem, 0rem 1rem 0px 1rem);

  .spinner-container {
    position: relative;
    overflow: hidden;
    height: 30px;
    margin-top: 27px;

    &.loaded {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.18s, opacity 0.18s linear;
    }
  }

  .spinner div {
    width: 4px;
    height: 4px;
    position: absolute;
    left: -50px;
    background-color: #fff;
    border-radius: 40%;
    //animation: spinner-move 3s infinite cubic-bezier(.32, 1, .88, .27);
    animation: spinner-move 3s infinite cubic-bezier(.55,.1,.08,.8);
  }

  .spinner div:nth-child(1) {
    animation-delay: 200ms;
  }

  .spinner div:nth-child(2) {
    animation-delay: calc(200ms + 150ms);
  }

  .spinner div:nth-child(3) {
    animation-delay: calc(200ms + 300ms);
  }

  .spinner div:nth-child(4) {
    animation-delay: calc(200ms + 450ms);
  }

  .spinner div:nth-child(5) {
    animation-delay: calc(200ms + 600ms);
  }

  @keyframes spinner-move {
    0% {
      opacity: 0;
      left: -40%;
    }
    30% {
      opacity: 0;
      left: -10%;
    }
    40% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    80% {
      opacity: 0.9;
      left: 50%;
    }
    82% {
      opacity: 0.5;
    }
    90% {
      opacity: 0;
      left: 100%;
    }
    100% {
      opacity: 0;
      left: 150%;
    }
  }

  .bootStatus {
    font-family: $font-family;
    font-weight: 300;
    font-size: 0.98rem;
    letter-spacing: 0.065rem;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
}
