.dialog {
  @media screen and(min-width: 450px) {
    min-width: 270px;
  }
  padding: 30px 40px 35px 30px;
}

.dialog form {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog .mat-form-field {
  width: 100%;
}
