<div class="dialog">
    <form [formGroup]="form" (submit)="save()">
        <mat-form-field>
            <input placeholder="Package" matInput formControlName="package" required>
            <mat-error *ngIf="form.get('package').invalid">
                Please enter a valid package!
            </mat-error>
        </mat-form-field>
        <div class="spacer">&nbsp;</div>
        <mat-form-field>
            <mat-label>Level</mat-label>
            <mat-select formControlName="configuredLevel" [disableOptionCentering]="true" required>
                <mat-option *ngFor="let level of levels" [value]="level">{{ level | uppercase }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('configuredLevel').invalid">
                Please select a valid log level!
            </mat-error>
        </mat-form-field>
        <div class="spacer">&nbsp;</div>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || (loading$ | async)">
            Save
        </button>
    </form>
</div>
