@import "sass/material";

@import "sass/layout/helpers";
@import "sass/layout/global";
@import "sass/layout/splash-screen";
@import "sass/layout/navigation";
@import "sass/layout/components/card";
@import "sass/layout/components/expansion-panel";
@import "sass/layout/components/dialog";
@import "sass/layout/components/form-errors";
@import "sass/layout/components/toastr";
@import "sass/layout/components/table";

// This is necessary for the search results tabs.
// TODO: Figure out a better way.
.mat-tab-body-content {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: unset!important;
}

.mat-tab-label {
  height: 40px !important;
  padding: 0px 20px !important;
  min-width: 120px !important;
}
