<app-page-container [breadcrumbs]="breadcrumbs" [loading]="loading$">

    <ng-container *ngIf="userForm" [formGroup]="userForm">
        <div class="userDetails" fxLayout="row" fxLayoutGap="10%">
            <div class="row">
                <span class="column">Username:</span>
                <span class="value">{{ (user$ | async)?.username }}</span>
            </div>

            <div class="row">
                <span class="column">First name:</span>
                <span class="value">N/A</span>
            </div>

            <div class="row">
                <span class="column">Last name:</span>
                <span class="value">N/A</span>
            </div>

            <div class="row">
                <span class="column">Email:</span>
                <span class="value">N/A</span>
            </div>

            <div class="row">
                <span class="column">Last active:</span>
                <span class="value">N/A</span>
            </div>

            <div class="row">
                <span class="column">Status:</span>
                <span class="value">
                    <span *ngIf="(user$ | async)?.enabled" class="status-green">Enabled</span>
                    <span *ngIf="!(user$ | async)?.enabled" class="status-red">Disabled</span>
                </span>
            </div>
        </div>

        <mat-tab-group fxLayout="column" fxFlex="1 1 auto" style="margin-top: 10px;" [dynamicHeight]="true">
            <mat-tab label="Roles">
                <mat-selection-list formControlName="roles" *ngIf="(user$ | async)?.roles.length > 0">
                    <mat-list-option *ngFor="let role of assignedRoles"
                                     checkboxPosition="before"
                                     [value]="role.name"
                                     [selected]="true"
                    >
                        {{ role.name }}
                        <small>{{ role.description }}</small>
                    </mat-list-option>
                </mat-selection-list>

                <div class="no-records" *ngIf="(user$ | async)?.roles.length === 0">
                    No roles have been assigned to this user yet.<br/>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div>&nbsp;</div>

        <div fxLayoutAlign="center center" *ngIf="(hasUpdateUserAuthority$ | async)" class="formSubmitButtons">
            <button mat-button [routerLink]="['/admin/users']" style="margin-right: 10px;">
                Back
            </button>

            <button mat-raised-button color="primary" routerLink="../edit">
                Edit
            </button>
        </div>
        <div>&nbsp;</div>
    </ng-container>
</app-page-container>
