<mat-form-field [style.width]="width" appearance="fill">
    <mat-spinner *ngIf="loading | async" [diameter]="20" [strokeWidth]="5"></mat-spinner>
    <mat-icon matPrefix="" class="ion-md-search"></mat-icon>
    <input type="search"
           [placeholder]="placeholder"
           [attr.aria-label]="placeholder"
           spellcheck="false"
           matInput
           [formControl]="searchControl"
           #searchInput
           [matAutocomplete]="autoCompleteRef"
           (click)="_inputCursorPositionTracking($event)"
           (keyup)="_inputCursorPositionTracking($event)"
           (blur)="onTouched()"
           (keyup.enter)="_sendSubmitEmitter()"
    >
    <mat-autocomplete #autoCompleteRef="matAutocomplete"
                      [autoActiveFirstOption]="autoActiveFirstOption"
                      [panelWidth]="panelWidth"
                      [displayWith]="displayWith"
    >
        <mat-option *ngFor="let option of options | async" [value]="option.value">
            {{ option.display }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>